*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid{
    font-size: 40px;
}

.fa-solid:hover{
    transform: scale(1.08);
    transition: .3s;
    cursor: pointer;
}

img{
    border-radius: 7px;
    width: 500px;
    height:  300px;
}